<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <input type="text" v-model="filterName"><button @click="clickFilter=filterName">搜索</button>
  <input type="radio" value="" name="gender" v-model="userGender">全部
  <input type="radio" value="男" name="gender" v-model="userGender">男
  <input type="radio" value="女" name="gender" v-model="userGender">女
  <hr>
  <table>
    <tr>
      <th>id</th>
      <th>姓名</th>
      <th>性别</th>
    </tr>
    <tr v-for="p in filterUser">
      <th>{{p.id}}</th>
      <th>{{p.name}}</th>
      <th>{{p.gender}}</th>
    </tr>
  </table>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
  let app = new Vue({
    el:"#app",
    data:{
      userGender:'',
      clickFilter:'',
      filterName:'',
      people:[
        {
          id:1,
          name:'Jack',
          gender:'男'
        },
        {
          id:2,
          name:'fssa',
          gender:'女'
        },
        {
          id:3,
          name:'aasd',
          gender:'男'
        },
        {
          id:4,
          name:'er',
          gender:'女'
        },
        {
          id:5,
          name:'fd',
          gender:'男'
        }
      ]
    },
    computed:{
      filterUser(){
        return this.people.filter(item=>item.name.includes(this.clickFilter)&&item.gender.includes(this.userGender))
      }
    }
  })
</script>
</body>
</html>